<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Catalog::catalog" title="Products" sortOrder="30">
                    <resource id="Pivotal_LinnworksMultiStore::linnworksmultistore" title="LinnworksMultiStores" sortOrder="40">
                        <resource id="Pivotal_LinnworksMultiStore::save" title="Save LinnworksMultiStore" sortOrder="10" />
                        <resource id="Pivotal_LinnworksMultiStore::delete" title="Delete LinnworksMultiStore" sortOrder="20" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
